<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center" > Customer Details</h2>
        <button class="btn btn-success text-right"  (click)="addUser()"> Add Menu</button> <br>
        <div class="form-group">
            <label for="menu">Menu</label>
            <input type="menu" name="menu" class="form-control input-sm" placeholder="Add Main Menu">

        </div>
        <table class="table table-striped">
          <thead>
          <tr>   
            <th>Item Name</th>
            <th>Price</th>
            <th>Default Price</th>
            <th>Effective From</th>
          </tr>
          </thead>
          <tbody>
          <!-- <tr *ngFor="let user of users">
   
            <td>{{user.customer_id}}</td>
            <td>{{user.name_customer}}</td>
            <td>{{user.desc_customer}}</td>
            <td>{{user.created_at}}</td>
            <td><button class="btn btn-danger" (click)="deleteuserdetails(user)"> Delete</button></td>
              <td>  <button class="btn btn-success" (click)="updateUser(user)" style="margin-left: 20px;"> Edit</button></td>
          </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>