<h2 class="text-center">Registration</h2>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" name="name" formControlName="username" autocomplete="off" class="form-control input-sm" placeholder="User Name">
 
                </div>

                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" name="Password" formControlName="password"  autocomplete="off" class="form-control input-sm" placeholder="Password">
 
                </div>
                <div class="form-group">
                    <label for="username">User Type</label>
                    <input type="text" name="mobile" formControlName="usertype" autocomplete="off" class="form-control input-sm" placeholder="Mobile No">
 
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!angForm.valid">Registration</button>
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
 
</div>